/*
Animation of mobile toggle menu
*/

@keyframes fade-in {
  from {
      visibility: hidden;
      opacity: 0;
  }
  
  to {
      visibility: visible;
      opacity: 1;
  }
}

.fade-in {
    animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    
    to {
        visibility: hidden;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}

/* slider animation */
@keyframes slide-right {
    0% {
        transform: translateX(0%);
        opacity: 1;
        z-index: 3;
    }
    98%{
        transform: translateX(100%);
        opacity: 0;
        z-index: 3;
    }
    
    99%{
        transform: translateX(0%);
        opacity: 0;
        z-index: 1;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
        z-index: 1;
    }
}

.slide-right {
    animation: slide-right 300ms ease-in-out forwards;
}