@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");
h1, h2, h3 {
  font-family: "Commissioner", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 1rem 0rem;
}
@media screen and (min-width: 40em) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 64em) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: 1.375rem;
}
@media screen and (min-width: 40em) {
  h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

h3 {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}
@media screen and (min-width: 40em) {
  h3 {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

h6 {
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: underline;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5625rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 40em) {
  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

.color--primary {
  color: #f94e4e;
}

.color--light {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  margin: 0;
  padding: 0;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
}

.mobile-only {
  display: block;
}
@media screen and (min-width: 40em) {
  .mobile-only {
    display: none;
  }
}

.tablet-desktop {
  display: block;
}
@media screen and (max-width: 39.9375em) {
  .tablet-desktop {
    display: none;
  }
}

.hidden {
  display: none;
}

.container {
  padding: 2.5rem 1.5rem;
}
@media screen and (min-width: 40em) {
  .container {
    padding: 3.5625rem 2.5rem;
  }
}
.container--extra {
  padding-top: 4.625rem;
  padding-bottom: 2.75rem;
}
.container__crop {
  max-width: 90rem;
  margin: 0px auto;
}

.button, .button--underline, .button--secondary, .button--primary {
  text-decoration: none;
  font-weight: 800;
  text-transform: capitalize;
  display: inline-block;
  transition: background-color 200ms ease-in-out;
}
.button:hover, .button--underline:hover, .button--secondary:hover, .button--primary:hover {
  background-color: #ff9494;
}
.button--primary {
  font-size: 1.125rem;
  color: white;
  padding: 1.5625rem 2.1875rem;
  background-color: #f94e4e;
}
.button--secondary {
  font-size: 1rem;
  color: white;
  padding: 1.4375rem 2.8125rem;
  background-color: #181820;
}
.button--secondary:hover {
  background-color: #434356;
}
.button--underline {
  font-size: 0.9375rem;
  color: #f94e4e;
  padding: 0.5rem 0rem;
  position: relative;
  transition: opacity 200ms ease-in-out;
}
.button--underline::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  height: 2px;
  width: 100%;
  background-color: #f94e4e;
}
.button--underline:hover {
  opacity: 0.6;
  background-color: transparent;
}
@media screen and (min-width: 64em) {
  .button--underline {
    font-size: 1.125rem;
  }
}
.button--arrow {
  transition: opacity 200ms ease-in-out;
}
.button--arrow:hover {
  opacity: 0.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menu {
  position: relative;
}

.hamburger-menu span {
  width: 1.5rem;
  height: 2px;
  background-color: #434356;
  display: block;
}
.hamburger-menu span:not(:last-of-type) {
  margin-bottom: 0.3rem;
}

.mobile-nav {
  position: absolute;
  top: 5rem;
  right: 0;
  color: white;
  background-color: black;
  width: 15.75rem;
  padding: 1.625rem;
  text-align: center;
}
.mobile-nav nav {
  list-style-type: none;
}
.mobile-nav li {
  padding-bottom: 1.5rem;
}

.desktop-nav {
  background-color: #f94e4e;
  color: white;
  font-weight: 400;
}
.desktop-nav nav {
  list-style-type: none;
  float: right;
}
.desktop-nav li {
  display: inline;
  padding-right: 1.25rem;
}

.button--menu {
  font-size: 1rem;
}
@media screen and (min-width: 40em) {
  .button--menu {
    padding: 1.4375rem 1.125rem;
  }
}

.hidden {
  display: none;
}

.hero__image {
  width: 100%;
  height: 12.5rem;
  background-image: url("../assets/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.details__image {
  width: 100%;
  height: 12.5rem;
  background-image: url("../assets/mobile/image-strategic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.details__design {
  background-color: #181820;
}
.details__headline {
  position: relative;
}
.details__headline::before {
  content: "";
  background-image: url("../assets/desktop/bg-pattern-wave-red.svg");
  background-size: cover;
  position: absolute;
  transform: translateY(-4.75rem);
  width: 3.9375rem;
  height: 1.8125rem;
}
.details__approach {
  background-color: #f94e4e;
  color: white;
}
.details__list {
  background-color: #f94e4e;
  color: white;
  /* the default list style type is overwritten with "counter". 
  The leading zero can be set in "list-style-type: decimal-leading-zero",
  but there will be a dot after the number "01. 02. 03. " etc. 

  tutorial: https://codepen.io/maddesigns/pen/JGQejg
  stackoverflow: https://stackoverflow.com/questions/5290587/is-there-a-way-to-append-leading-zeros-to-an-ordered-number-list-01-or-001-as
  documentation: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
  */
}
.details__list ol {
  list-style-type: none;
  counter-reset: li;
  display: inline-block;
  padding-inline: 2.5rem 1.5rem;
  margin-bottom: 1.25rem;
}
.details__list li {
  padding-bottom: 2.2rem;
}
.details__list li::before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  position: absolute;
  font-size: 5rem;
  line-height: 5.5rem;
  font-weight: 800;
  left: 1.5rem;
  transform: translateY(-2.8rem);
  opacity: 0.25;
}
.details__list p {
  margin-top: 1rem;
}
.details .container {
  padding-bottom: 4.5rem;
}

.slider__image {
  background-size: cover;
  max-width: 100%;
  height: 25.25rem;
  position: relative;
}
.slider .slide1 {
  background-image: url("../assets/mobile/image-slide-1.jpg");
}
.slider .slide2 {
  background-image: url("../assets/mobile/image-slide-2.jpg");
}
.slider .slide3 {
  background-image: url("../assets/mobile/image-slide-3.jpg");
}
.slider__content {
  color: white;
  text-align: right;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-right: 2rem;
  padding-bottom: 2.125rem;
}
.slider__content h3 {
  margin: 0;
}
.slider__content p {
  margin: 0;
}
.slider__text {
  color: white;
  background-color: black;
  padding-bottom: 4rem;
}
.slider__text .button--arrow {
  margin-right: 1rem;
}

.footer h2 {
  margin-bottom: 2.875rem;
}
.footer .button--primary {
  font-size: 1rem;
}
.footer__container {
  padding-inline: 1.5rem;
  padding-top: 4.625rem;
  padding-bottom: 6.25rem;
}

/*
    HELLO! :)
    I am using use-forward and 7-1 Sass architecture in this project

*/

/*# sourceMappingURL=styles.css.map */
