@use '../abstracts';

.details{

    background-color: abstracts.$secondary500;


    &__image{
        width: 100%;
        height: 12.5rem;
        background-image: url('../assets/mobile/image-strategic.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}