@use '../abstracts';
@use '../base';

.header {
  display: grid;
  grid-template-columns: 
  minmax(1.5rem, 1fr) 
  minmax(auto, 34.375rem) 
  minmax(0.1rem, 1rem)
  minmax(auto, 33.375rem) 
  minmax(1.5rem, 1fr);
  height: 6.875rem;
  align-items: center;

  .logo{
    grid-column: 2 / 3;
   //max-width: 80%;

   @include abstracts.breakpoint-up(medium){
    
    max-width: 100%;

  }
   
  }
  
    .menu {
      align-items: center;
      height: 100%;
      grid-column: 4 / -1;
      display: grid;
      grid-template-columns: subgrid;
      

      @include abstracts.breakpoint-up(medium){
        background-color: abstracts.$primary500;
       // grid-column: 3 / -1;

      }
    }

    .hamburger-menu {
      grid-column: 1 / 2;
      justify-self: end; 
      span {
        width: 1.5rem;
        height: 2px;
        background-color: abstracts.$secondary400;
        display: block;
    
        &:not(:last-of-type) {
          margin-bottom: 0.3rem;
        }
      }
    }


    .mobile-nav {
      position: absolute;
      top: 5rem;
      right: 0;
      color: abstracts.$primary10;
      background-color: abstracts.$secondary900;
      width: 15.75rem;
      padding: 1.625rem;
      text-align: center;
      
    
      nav {
        list-style-type: none;
      }
    
      li {
        padding-bottom: 1.5rem;
      }
    }

    .desktop-nav{
      
      color: abstracts.$primary10;
      font-weight: base.$regular;
      grid-column: 1 / 2;
      justify-self: end; 
      
    
      nav {
        list-style-type: none;
        float: right;
        
      }
    
      li {
        display: inline;
        padding-right: 1.25rem;
      }
    
    }
    

}


.button--menu {
  font-size: 1rem;
  @include abstracts.breakpoint-up(medium){
    padding: 1.4375rem 1.125rem;
  }
}


