@use '../abstracts';
@use '../base';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include abstracts.breakpoint-up(medium){
   
  }

  .logo{
    @include abstracts.breakpoint-up(medium){


    }

  }
}

.menu {
  position: relative;
}

.hamburger-menu {
  span {
    width: 1.5rem;
    height: 2px;
    background-color: abstracts.$secondary400;
    display: block;

    &:not(:last-of-type) {
      margin-bottom: 0.3rem;
    }
  }
}

.mobile-nav {
  position: absolute;
  top: 5rem;
  right: 0;
  color: abstracts.$primary10;
  background-color: abstracts.$secondary900;
  width: 15.75rem;
  padding: 1.625rem;
  text-align: center;

  nav {
    list-style-type: none;
  }

  li {
    padding-bottom: 1.5rem;
  }
}

.desktop-nav{
  background-color: abstracts.$primary500;
  color: abstracts.$primary10;
  font-weight: base.$regular;
  

  nav {
    list-style-type: none;
    float: right;
    
  }

  li {
    display: inline;
    padding-right: 1.25rem;
  }

}

.button--menu {
  font-size: 1rem;
  @include abstracts.breakpoint-up(medium){
    padding: 1.4375rem 1.125rem;
  }
}

.hidden {
  display: none;
}
