@use '../abstracts';
@use '../base';


.button {
    

    &--primary {
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: base.$extraBold;
        letter-spacing: 1px;
        color: abstracts.$primary10;
        padding: 1.5625rem 2.1875rem;
        background-color: abstracts.$primary500;
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: abstracts.$primary300;
        }
    }

    &--secondary {
        text-decoration: none;
        font-size: 1rem;
        font-weight: base.$extraBold;
        letter-spacing: 1px;
        color: abstracts.$primary10;
        padding: 1.4375rem 2.375rem;
        background-color: abstracts.$secondary500;
        transition: background-color 200ms ease-in-out;

        &:hover {
            background-color: abstracts.$secondary400;
        }
    }

    &--underline {
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: base.$extraBold;
        letter-spacing: 1px;
        color: abstracts.$primary500;
        padding: 0.5rem 0rem;
        margin-inline: 2.375rem;
        position: relative;
        transition: opacity 200ms ease-in-out;
      
        &::after{
            content: '';
            position: absolute;
            bottom: 0rem;
            left: 0rem;
            right: 0rem;
            height: 2px;
            width: 100%;
            background-color: abstracts.$primary500;
        }

        &:hover{
            opacity: 0.6;
        }
    }

    &--arrow{

        transition: opacity 200ms ease-in-out;

        &:hover{
            opacity: 0.6;
        }
    }


}