@use '../abstracts';
@use '../base';

.button {
  text-decoration: none;
  font-weight: base.$extraBold;
  //letter-spacing: 1px;
  text-transform: capitalize;
  display: inline-block;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: abstracts.$primary300;
  }

  &--primary {
        @extend .button;
        font-size: 1.125rem;
        color: abstracts.$primary10;
        padding: 1.5625rem 2.1875rem;
        background-color: abstracts.$primary500;
    }

    &--secondary {
        @extend .button;
        font-size: 1rem;
        color: abstracts.$primary10;
        padding: 1.4375rem 2.8125rem;
        background-color: abstracts.$secondary500;
        
        &:hover {
            background-color: abstracts.$secondary400;
          }
    }

  &--underline {
        @extend .button;
        font-size: 0.9375rem;
        color: abstracts.$primary500;
        padding: 0.5rem 0rem;
        position: relative;
        transition: opacity 200ms ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: 0rem;
            left: 0rem;
            right: 0rem;
            height: 2px;
            width: 100%;
            background-color: abstracts.$primary500;
        }

        &:hover {
          opacity: 0.6;
          background-color: transparent;
        }

        @include abstracts.breakpoint-up(large) {
          font-size: 1.125rem;
        }
  }

  &--arrow {
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}
