@use '../abstracts';

*{
    box-sizing: border-box;
}

html{
    width: 100vw;
    
}

body{
    box-sizing: border-box;
    font-family: "Commissioner", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    
}

.sr-only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    border: none;
    color: transparent;
    text-decoration: none;
}

.mobile-only{
    display: block;
    @include abstracts.breakpoint-up(medium){
        display: none;
    }
}

.tablet-desktop{
    display: block;
    @include abstracts.breakpoint-down(small){
        display: none;
    }
}

.hidden {
    display: none;
}

.grid_wrapper{
  display: grid;
  grid-template-columns: 
  minmax(1.5rem, 1fr) 
  repeat(8, minmax(1rem, 7.8125rem))
  minmax(1.5rem, 1fr);
    
  
    @include abstracts.breakpoint-up(large) {
        column-gap: 1rem;
    }

  /*
  @include abstracts.breakpoint-up(medium) {
    
    grid-template-columns:
      minmax(1rem, 2.5rem)
      minmax(auto, 16rem)
      minmax(0.1rem, 1rem)
      minmax(auto, auto)
      minmax(1rem, 2.5rem);
  }
  
  @include abstracts.breakpoint-up(large) {
  grid-template-columns:
      minmax(1.5rem, 1fr)
      minmax(auto, 34.6875rem)
      minmax(0.1rem, 1rem)
      minmax(auto, 33.6875rem)
      minmax(1.5rem, 1fr);
  }
  */
}

/*

.container{
    padding: 2.5rem 1.5rem;

    @include abstracts.breakpoint-up(medium){
        padding: 3.5625rem 2.5rem;
    }
    
    &--extra{
        padding-top: 4.625rem;
        padding-bottom: 2.75rem;
    }

    &__crop{
        max-width: 90rem;
        margin: 0px auto;
    }
}

*/
